@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<h2> Tela Inicial</h2>


<br />
<br />
<br />
<br />

<div><a href="@Url.Action("CadastroModelo", "Home")">Modelo</a></div>
<div><a href="@Url.Action("ExportarPDF", "MetaGenerica")">ExportarPDF</a></div>